backports.ssl-match-hostname==3.4.0.2
bottle==0.12.6
matplotlib==1.3.1
nose==1.3.1
numpy==1.8.1
pyparsing==2.0.2
pyserial==2.7
python-dateutil==2.2
six==1.6.1
termcolor==1.1.0
tornado==3.2
wsgiref==0.1.2
